## latex/pdflatex/bibtex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.bbl
*.blg
*.fdb_latexmk
*.synctex.gz

data/
**/.ipynb_checkpoints
**/.DS_STORE
out

experiment/data
experiment/scripts/hp_space.json

.idea
**/__pycache__
